<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Report - OAuth Authorization Server</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1><a href="/">OAuth Authorization Server</a></h1>
    </div>
    <div class="container">
        <h1>Report</h1>
        <h2>Open Redirect</h2>
        <form class="form" action="/report/open-redirect" method="POST">
            <div class="form-group">
                <label for="path">path:</label>
                <input type="text" id="path" name="path" class="form-control" placeholder="path (e.g. /auth?response_type=code&...&scopes=email profile)">
            </div>
            <p><code>/auth?response_type=code&client_id=oauth-client&redirect_uri=http://localhost:3000/callback&scopes=email profile&state=state</code>を指定すると<code>admin</code>は
                <code>http://[IdPのドメイン]/auth?response_type=code&client_id=oauth-client&redirect_uri=http://localhost:3000/callback&scopes=email profile&state=state</code>にアクセスし、ログインを行います。</p>
            <input type="submit" class="btn btn-primary" value="Send" />
        </form>
        <% if (openRedirectSuccess !== "") { %>
            <p class="text-success"><%= openRedirectSuccess %></p>
        <% } %>
        <% if (openRedirectError !== "") { %>
            <p class="text-danger"><%= openRedirectError %></p>
        <% } %>
    </div>
</body>

</html>